<div class="relative">
    <app-loader
      *ngIf="globalService.isLoading"
      class="absolute z-30 bg-indigo-500 top-0 bottom-0 left-0 right-0 flex items-center justify-center"
    ></app-loader>
    <div class="md:flex h-screen overflow-hidden toolscroll toolscroll-layout">
      <app-sidebar
        class="md:w-2/6 lg:w-2/6 xl:w-3/12 h-100"
      ></app-sidebar>
      <main class="md:w-4/6 lg:w-4/6 xl:w-9/12 relative h-full overflow-hidden">
        <app-header></app-header>
        <router-outlet> </router-outlet>
      </main>
    </div>
    <app-footer class="fixed bottom-0 left-0 w-full"></app-footer>
    <app-modal *ngIf="globalService.habilitarModel"></app-modal>
    <app-toast
      *ngIf="globalService.alertaGlobal.titulo !== ''"
      class="bg-green-400"
    ></app-toast>
  </div>
